exportPattern("^[[:alpha:]]+")
import( DevTK )
export( AddAttr, CheckFilePath, GetFileExtension, GetFileName, GetHelper, IsPath, NotIn, ShowLoading, Versioning )
import( DataTK )
export( BindFillRows, MeltSpm, PadMtx, ReduceRun, ResizeMatrix, Rise0, TransposeList, WrapFunction )
import( StatTK )
export( BoxBlur, BreakVector, CbrtNorm, FindElbow, Gauss, GaussBox, GaussKernel, InterpolateNA, IqrThreshold, Log2Norm, MeanScale, MedianSkewness, MinMaxScale, Normalize, Plus, QtlThreshold, RobustScalarScale, SdThreshold, SqrtNorm, TrimOutliers, UnitLengthScale )
import( ColorTK )
export( Blues, BrBG, Brighten, BuGn, BuPu, Col2Hex, Col2Hsl, Col2Rgb, Colorize, ConvertColorFormat, Darken, GetColorFormat, GnBu, Greens, Greys, Hex2Hsl, Hex2Rgb, Hsl2Hex, Hsl2Rgb, Hue, IsCol, IsHex, IsHsl, IsRgb, MutateColorParameter, OrRd, Oranges, Pastelize, PiYg, PrGn, PuBu, PuBuGn, PuOr, PuRd, Purples, RdBu, RdGy, RdPu, RdYlBu, RdYlGn, Reds, Rgb2Hex, Rgb2Hsl, Spectral, Tarnished, YlGn, YlGnBu, YlOrBr, YlOrRd, cividis, ggPalette, inferno, magma, mako, plasma, rocket, turbo, viridis )
